#############		GENERAL				#############
#Prohibimos el listado de Directorios
#Options -Indexes
Options +FollowSymLinks

#############		Parámetros Nativos	################
RewriteEngine on
RewriteRule ^system/error/(\w+)$ system/error/index.php?error=$1
ErrorDocument 403 /system/error/404
ErrorDocument 404 /system/error/404
ErrorDocument 500 /system/error/500




RewriteEngine on
RewriteRule ^(join|signup)/?$ /index.php?page=form&form=register&%{QUERY_STRING} [S=1]
RewriteRule ^(login|signin)/?$ /index.php?page=form&form=register&%{QUERY_STRING}

RewriteRule ^(send|enviar|seller)/?$ /index.php?page=form&form=seller&%{QUERY_STRING}

RewriteRule ^terms_conditions/?$ /index.php?page=terms_conditions&%{QUERY_STRING}
RewriteRule ^explorer/?$ index.php?page=explorer&%{QUERY_STRING} [S=1]
RewriteRule ^explorer/(\w+)?$ index.php?page=explorer&symbol=$1&%{QUERY_STRING}


RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/pages%{REQUEST_URI}\.php -f
RewriteRule ^(.*)$ /index.php?page=$1&%{QUERY_STRING}


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php