.is-shadowless-fullhd{box-shadow:none !important;}
.has-background-none-fullhd{background:none !important;}
/*Scrollbars*/
.has-scrollbar-fullhd::-webkit-scrollbar,
.has-scrollbar-fullhd::-webkit-scrollbar-track{
	background-color: #ccc;
	width: 12px;
	height: 12px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,.3);
}
.has-scrollbar-fullhd.is-line::-webkit-scrollbar,.has-scrollbar-fullhd.is-line::-webkit-scrollbar-track{width: 1px; height: 1px;}
.has-scrollbar-fullhd.is-sm::-webkit-scrollbar,.has-scrollbar-fullhd.is-sm::-webkit-scrollbar-track{width: 5px; height: 5px;}
.has-scrollbar-fullhd.is-large::-webkit-scrollbar,.has-scrollbar-fullhd.is-large::-webkit-scrollbar-track{width: 15px; height: 15px;}
.has-scrollbar.is-line-fullhd::-webkit-scrollbar,.has-scrollbar.is-line-fullhd::-webkit-scrollbar-track{width: 1px; height: 1px;}
.has-scrollbar.is-sm-fullhd::-webkit-scrollbar,.has-scrollbar.is-sm-fullhd::-webkit-scrollbar-track{width: 5px; height: 5px;}
.has-scrollbar.is-large-fullhd::-webkit-scrollbar,.has-scrollbar.is-large-fullhd::-webkit-scrollbar-track{width: 15px; height: 15px;}
.has-scrollbar-fullhd.is-rounded::-webkit-scrollbar-track,.has-scrollbar.is-rounded-fullhd::-webkit-scrollbar-thumb{border-radius: 10px !important;}

/*Scrollbars Colors*/
.has-scrollbar-fullhd::-webkit-scrollbar-thumb {background-color: #999;}
.has-scrollbar-fullhd.is-link::-webkit-scrollbar-thumb{background-color: var(--color-link);}
.has-scrollbar-fullhd.is-info::-webkit-scrollbar-thumb{background-color: var(--color-link);}
.has-scrollbar-fullhd.is-success::-webkit-scrollbar-thumb{background-color: var(--color-success);}
.has-scrollbar-fullhd.is-danger::-webkit-scrollbar-thumb{background-color: var(--color-danger);}
.has-scrollbar-fullhd.is-warning::-webkit-scrollbar-thumb{background-color: var(--color-warning);}
.has-scrollbar-fullhd.is-dark::-webkit-scrollbar-thumb{background-color: var(--color-dark);}
.has-scrollbar-fullhd.is-facebook::-webkit-scrollbar-thumb{background-color: var(--color-facebook);}
.has-scrollbar-fullhd.is-pink::-webkit-scrollbar-thumb{background-color: var(--color-pink);}
.has-scrollbar-fullhd.is-purple::-webkit-scrollbar-thumb{background-color: var(--color-purple);}
.has-scrollbar-fullhd.is-electric::-webkit-scrollbar-thumb{background-color: var(--color-electric);}
.has-scrollbar-fullhd.is-reef::-webkit-scrollbar-thumb{background-color: var(--color-reef);}
.has-scrollbar-fullhd.is-windy::-webkit-scrollbar-thumb{background-color: var(--color-windy);}
.has-scrollbar-fullhd.is-link-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-link-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-link);}
.has-scrollbar-fullhd.is-info-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-info-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-link);}
.has-scrollbar-fullhd.is-success-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-success-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-success);}
.has-scrollbar-fullhd.is-danger-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-danger-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-danger);}
.has-scrollbar-fullhd.is-warning-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-warning-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-warning);}
.has-scrollbar-fullhd.is-dark-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-dark-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-dark);}
.has-scrollbar-fullhd.is-facebook-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-facebook-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-facebook);}
.has-scrollbar-fullhd.is-pink-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-pink-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-pink);}
.has-scrollbar-fullhd.is-purple-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-purple-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-purple);}
.has-scrollbar-fullhd.is-electric-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-electric-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-electric);}
.has-scrollbar-fullhd.is-reef-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-reef-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-reef);}
.has-scrollbar-fullhd.is-windy-fullhd::-webkit-scrollbar-thumb,.has-scrollbar.is-windy-fullhd::-webkit-scrollbar-thumb {background-color: var(--color-windy);}
/*Gradients and Bg state*/
.has-background-none-fullhd{background:none !important;}
.has-background-link-fullhd{background:var(--color-link);  background: -webkit-linear-gradient(to bottom, var(--color-link), var(--color-link-bottom));  background: linear-gradient(to bottom, var(--color-link), var(--color-link-bottom)); }
.has-background-success-fullhd{background:var(--color-success);  background: -webkit-linear-gradient(to bottom, var(--color-success), var(--color-success-bottom));  background: linear-gradient(to bottom, var(--color-success), var(--color-success-bottom)); }
.has-background-danger-fullhd{background:var(--color-danger);  background: -webkit-linear-gradient(to top, var(--color-danger), var(--color-danger-bottom));  background: linear-gradient(to top, var(--color-danger), var(--color-danger-bottom)); }
.has-background-warning-fullhd{background:var(--color-warning);  background: -webkit-linear-gradient(to bottom, var(--color-warning), var(--color-warning-bottom));  background: linear-gradient(to bottom, var(--color-warning), var(--color-warning-bottom)); }
.has-background-dark-fullhd,.has-background-inverted-fullhd{background:var(--color-dark);  background: -webkit-linear-gradient(to bottom, var(--color-dark), var(--color-dark-bottom));  background: linear-gradient(to bottom, var(--color-dark), var(--color-dark-bottom)); }
.has-background-facebook-fullhd{background:var(--color-facebook);  background: -webkit-linear-gradient(to top, var(--color-facebook),var(--color-facebook-bottom));  background: linear-gradient(to top, var(--color-facebook),var(--color-facebook-bottom)); }
.has-background-facebook-inverted-fullhd{background:var(--color-facebook);  background: -webkit-linear-gradient(to top, var(--color-facebook-bottom),var(--color-facebook));  background: linear-gradient(to top, var(--color-facebook-bottom),var(--color-facebook)); }
.has-background-link-grd-fullhd{background:var(--color-link-grd);  background: -webkit-linear-gradient(to top, var(--color-link-grd),var(--color-link-grd-bottom));  background: linear-gradient(to top, var(--color-link-grd),var(--color-link-grd-bottom)); }
.has-background-success-grd-fullhd{background:var(--color-success-grd);  background: -webkit-linear-gradient(to top, var(--color-success-grd),var(--color-success-grd-bottom));  background: linear-gradient(to top, var(--color-success-grd),var(--color-success-grd-bottom)); }
.has-background-danger-grd-fullhd{background:var(--color-danger-grd);  background: -webkit-linear-gradient(to top, var(--color-danger-grd),var(--color-danger-grd-bottom));  background: linear-gradient(to top, var(--color-danger-grd),var(--color-danger-grd-bottom)); }
.has-background-warning-grd-fullhd{background:var(--color-warning-grd);  background: -webkit-linear-gradient(to bottom, var(--color-warning-grd),var(--color-warning-grd-bottom));  background: linear-gradient(to bottom, var(--color-warning-grd),var(--color-warning-grd-bottom)); }
.has-background-dark-grd-fullhd,.has-background-inverted-grd-fullhd{background:var(--color-dark-grd);  background: -webkit-linear-gradient(to bottom, var(--color-dark-grd),var(--color-dark-grd-bottom));  background: linear-gradient(to bottom, var(--color-dark-grd),var(--color-dark-grd-bottom)); }
.has-background-pink-fullhd{background: var(--color-pink);  background: -webkit-linear-gradient(to bottom, var(--color-pink), var(--color-pink-bottom));  background: linear-gradient(to bottom, var(--color-pink), var(--color-pink-bottom)); }
.has-background-purple-fullhd{background: var(--color-purple);  background: -webkit-linear-gradient(to top, var(--color-purple), var(--color-purple-bottom));  background: linear-gradient(to top, var(--color-purple), var(--color-purple-bottom)); }
.has-background-primary-grd-fullhd{background: var(--color-primary-grd);  background: -webkit-linear-gradient(to bottom, var(--color-primary-grd), var(--color-primary-grd-bottom));  background: linear-gradient(to bottom, var(--color-primary-grd), var(--color-primary-grd-bottom)); }
.has-background-reef-fullhd{background: var(--color-reef);  background: -webkit-linear-gradient(to top, var(--color-reef), var(--color-reef-bottom));  background: linear-gradient(to top, var(--color-reef), var(--color-reef-bottom)); }
.has-background-electric-fullhd{background: var(--color-electric);  background: -webkit-linear-gradient(to top, var(--color-electric), var(--color-electric-bottom));  background: linear-gradient(to top, var(--color-electric), var(--color-electric-bottom)); }
.has-background-windy-fullhd{background: var(--color-windy);  background: -webkit-linear-gradient(to bottom, var(--color-windy), var(--color-windy-bottom));  background: linear-gradient(to bottom, var(--color-windy), var(--color-windy-bottom)); }
/*Cursors*/
.c-default-fullhd{cursor: default !important; }
.c-pointer-fullhd{cursor: pointer !important; }
.c-move-fullhd{cursor: move !important; }
.c-events-none-fullhd{pointer-events: none !important;}
.c-events-auto-fullhd{pointer-events: auto !important;}
/*Width*/
.w-flex-fullhd{width: -webkit-fill-available; }
.min-w-fullhd{min-width: 0px !important;}
.w-auto-fullhd{width: auto !important;}
.w-0-fullhd{width: 0% !important;}
.w-5-fullhd{width: 5% !important;}
.w-10-fullhd{width: 10% !important;}
.w-15-fullhd{width: 15% !important;}
.w-20-fullhd{width: 20% !important;}
.w-25-fullhd{width: 25% !important;}
.w-50-fullhd{width: 50% !important;}
.w-75-fullhd{width: 75% !important;}
.w-100-fullhd{width: 100% !important;}
/*Height*/
.h-flex-fullhd{height:  -webkit-fill-available; }
.min-h-fullhd{min-height: 0px !important;}
.h-auto-fullhd{height: auto !important;}
.h-0-fullhd{height: 0% !important;}
.h-5-fullhd{height: 5% !important;}
.h-10-fullhd{height: 10% !important;}
.h-15-fullhd{height: 15% !important;}
.h-20-fullhd{height: 20% !important;}
.h-25-fullhd{height: 25% !important;}
.h-50-fullhd{height: 50% !important;}
.h-75-fullhd{height: 75% !important;}
.h-100-fullhd{height: 100% !important;}
/*Positions*/
.p-relative-fullhd{position: relative !important; }
.p-absolute-fullhd{position: absolute !important; }
.p-fixed-fullhd{position: fixed !important; }
.p-static-fullhd{position: static !important; }
/*Visibility*/
.d-none-fullhd{display: none !important; }
.d-block-fullhd{display: block !important; }
.d-flex-fullhd{display: flex !important; }
.d-inline-flex-fullhd{display: inline-flex !important; }
.d-inline-block-fullhd{display: inline-block !important; }
/*Border*/
.b-0-fullhd {border-width: 0px !important;}
.b-1-fullhd {border-width: 1px !important;}
.b-2-fullhd {border-width: 2px !important;}
.b-3-fullhd {border-width: 3px !important;}
.b-4-fullhd {border-width: 4px !important;}
.b-5-fullhd {border-width: 5px !important;}
.b-6-fullhd {border-width: 6px !important;}
.b-7-fullhd {border-width: 7px !important;}
.b-8-fullhd {border-width: 8px !important;}
.b-9-fullhd {border-width: 9px !important;}
.b-10-fullhd {border-width: 10px !important;}
.bt-0-fullhd {border-top-width: 0px !important;}
.bt-1-fullhd {border-top-width: 1px !important;}
.bt-2-fullhd {border-top-width: 2px !important;}
.bt-3-fullhd {border-top-width: 3px !important;}
.bt-4-fullhd {border-top-width: 4px !important;}
.bt-5-fullhd {border-top-width: 5px !important;}
.bt-6-fullhd {border-top-width: 6px !important;}
.bt-7-fullhd {border-top-width: 7px !important;}
.bt-8-fullhd {border-top-width: 8px !important;}
.bt-9-fullhd {border-top-width: 9px !important;}
.bt-10-fullhd {border-top-width: 10px !important;}
.br-0-fullhd {border-right-width: 0px !important;}
.br-1-fullhd {border-right-width: 1px !important;}
.br-2-fullhd {border-right-width: 2px !important;}
.br-3-fullhd {border-right-width: 3px !important;}
.br-4-fullhd {border-right-width: 4px !important;}
.br-5-fullhd {border-right-width: 5px !important;}
.br-6-fullhd {border-right-width: 6px !important;}
.br-7-fullhd {border-right-width: 7px !important;}
.br-8-fullhd {border-right-width: 8px !important;}
.br-9-fullhd {border-right-width: 9px !important;}
.br-10-fullhd {border-right-width: 10px !important;}
.bb-0-fullhd {border-bottom-width: 0px !important;}
.bb-1-fullhd {border-bottom-width: 1px !important;}
.bb-2-fullhd {border-bottom-width: 2px !important;}
.bb-3-fullhd {border-bottom-width: 3px !important;}
.bb-4-fullhd {border-bottom-width: 4px !important;}
.bb-5-fullhd {border-bottom-width: 5px !important;}
.bb-6-fullhd {border-bottom-width: 6px !important;}
.bb-7-fullhd {border-bottom-width: 7px !important;}
.bb-8-fullhd {border-bottom-width: 8px !important;}
.bb-9-fullhd {border-bottom-width: 9px !important;}
.bb-10-fullhd {border-bottom-width: 10px !important;}
.bl-0-fullhd {border-left-width: 0px !important;}
.bl-1-fullhd {border-left-width: 1px !important;}
.bl-2-fullhd {border-left-width: 2px !important;}
.bl-3-fullhd {border-left-width: 3px !important;}
.bl-4-fullhd {border-left-width: 4px !important;}
.bl-5-fullhd {border-left-width: 5px !important;}
.bl-6-fullhd {border-left-width: 6px !important;}
.bl-7-fullhd {border-left-width: 7px !important;}
.bl-8-fullhd {border-left-width: 8px !important;}
.bl-9-fullhd {border-left-width: 9px !important;}
.bl-10-fullhd {border-left-width: 10px !important;}
/*Border Fade*/
.b-fade-0-fullhd {border-width: 0px !important; border-color: #ccc !important; border: solid; }
.b-fade-1-fullhd {border-width: 1px !important; border-color: #ccc !important; border: solid; }
.b-fade-2-fullhd {border-width: 2px !important; border-color: #ccc !important; border: solid; }
.b-fade-3-fullhd {border-width: 3px !important; border-color: #ccc !important; border: solid; }
.b-fade-4-fullhd {border-width: 4px !important; border-color: #ccc !important; border: solid; }
.b-fade-5-fullhd {border-width: 5px !important; border-color: #ccc !important; border: solid; }
.bt-fade-0-fullhd {border-top-width: 0px !important; border-color: #ccc !important; border: solid; }
.bt-fade-1-fullhd {border-top-width: 1px !important; border-color: #ccc !important; border: solid; }
.bt-fade-2-fullhd {border-top-width: 2px !important; border-color: #ccc !important; border: solid; }
.bt-fade-3-fullhd {border-top-width: 3px !important; border-color: #ccc !important; border: solid; }
.bt-fade-4-fullhd {border-top-width: 4px !important; border-color: #ccc !important; border: solid; }
.bt-fade-5-fullhd {border-top-width: 5px !important; border-color: #ccc !important; border: solid; }
.br-fade-0-fullhd {border-right-width: 0px !important; border-color: #ccc !important; border: solid; }
.br-fade-1-fullhd {border-right-width: 1px !important; border-color: #ccc !important; border: solid; }
.br-fade-2-fullhd {border-right-width: 2px !important; border-color: #ccc !important; border: solid; }
.br-fade-3-fullhd {border-right-width: 3px !important; border-color: #ccc !important; border: solid; }
.br-fade-4-fullhd {border-right-width: 4px !important; border-color: #ccc !important; border: solid; }
.br-fade-5-fullhd {border-right-width: 5px !important; border-color: #ccc !important; border: solid; }
.bb-fade-0-fullhd {border-bottom-width: 0px !important; border-color: #ccc !important; border: solid; }
.bb-fade-1-fullhd {border-bottom-width: 1px !important; border-color: #ccc !important; border: solid; }
.bb-fade-2-fullhd {border-bottom-width: 2px !important; border-color: #ccc !important; border: solid; }
.bb-fade-3-fullhd {border-bottom-width: 3px !important; border-color: #ccc !important; border: solid; }
.bb-fade-4-fullhd {border-bottom-width: 4px !important; border-color: #ccc !important; border: solid; }
.bb-fade-5-fullhd {border-bottom-width: 5px !important; border-color: #ccc !important; border: solid; }
.bl-fade-0-fullhd {border-left-width: 0px !important; border-color: #ccc !important; border: solid; }
.bl-fade-1-fullhd {border-left-width: 1px !important; border-color: #ccc !important; border: solid; }
.bl-fade-2-fullhd {border-left-width: 2px !important; border-color: #ccc !important; border: solid; }
.bl-fade-3-fullhd {border-left-width: 3px !important; border-color: #ccc !important; border: solid; }
.bl-fade-4-fullhd {border-left-width: 4px !important; border-color: #ccc !important; border: solid; }
.bl-fade-5-fullhd {border-left-width: 5px !important; border-color: #ccc !important; border: solid; }
/*Border Radius*/
.b-radius-0-fullhd {border-radius: 0px !important; }
.b-radius-1-fullhd {border-radius: 5px !important; }
.b-radius-2-fullhd {border-radius: 10px !important; }
.b-radius-3-fullhd {border-radius: 15px !important; }
.b-radius-4-fullhd {border-radius: 20px !important; }
.b-radius-5-fullhd {border-radius: 25px !important; }
.b-radius-6-fullhd {border-radius: 30px !important; }
.b-radius-7-fullhd {border-radius: 35px !important; }
.b-radius-8-fullhd {border-radius: 40px !important; }
.b-radius-9-fullhd {border-radius: 45px !important; }
.b-radius-10-fullhd {border-radius: 50px !important; }
.bt-radius-0-fullhd {border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; }
.bt-radius-1-fullhd {border-top-left-radius: 5px !important; border-top-right-radius: 5px !important; }
.bt-radius-2-fullhd {border-top-left-radius: 10px !important; border-top-right-radius: 10px !important; }
.bt-radius-3-fullhd {border-top-left-radius: 15px !important; border-top-right-radius: 15px !important; }
.bt-radius-4-fullhd {border-top-left-radius: 20px !important; border-top-right-radius: 20px !important; }
.bt-radius-5-fullhd {border-top-left-radius: 25px !important; border-top-right-radius: 25px !important; }
.bt-radius-6-fullhd {border-top-left-radius: 30px !important; border-top-right-radius: 30px !important; }
.bt-radius-7-fullhd {border-top-left-radius: 35px !important; border-top-right-radius: 35px !important; }
.bt-radius-8-fullhd {border-top-left-radius: 40px !important; border-top-right-radius: 40px !important; }
.bt-radius-9-fullhd {border-top-left-radius: 45px !important; border-top-right-radius: 45px !important; }
.bt-radius-10-fullhd {border-top-left-radius: 50px !important; border-top-right-radius: 50px !important; }
.br-radius-0-fullhd {border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.br-radius-1-fullhd {border-top-right-radius: 5px !important; border-bottom-right-radius: 5px !important; }
.br-radius-2-fullhd {border-top-right-radius: 10px !important; border-bottom-right-radius: 10px !important; }
.br-radius-3-fullhd {border-top-right-radius: 15px !important; border-bottom-right-radius: 15px !important; }
.br-radius-4-fullhd {border-top-right-radius: 20px !important; border-bottom-right-radius: 20px !important; }
.br-radius-5-fullhd {border-top-right-radius: 25px !important; border-bottom-right-radius: 25px !important; }
.br-radius-6-fullhd {border-top-right-radius: 30px !important; border-bottom-right-radius: 30px !important; }
.br-radius-7-fullhd {border-top-right-radius: 35px !important; border-bottom-right-radius: 35px !important; }
.br-radius-8-fullhd {border-top-right-radius: 40px !important; border-bottom-right-radius: 40px !important; }
.br-radius-9-fullhd {border-top-right-radius: 45px !important; border-bottom-right-radius: 45px !important; }
.br-radius-10-fullhd {border-top-right-radius: 50px !important; border-bottom-right-radius: 50px !important; }
.bb-radius-0-fullhd {border-bottom-left-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.bb-radius-1-fullhd {border-bottom-left-radius: 5px !important; border-bottom-right-radius: 5px !important; }
.bb-radius-2-fullhd {border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; }
.bb-radius-3-fullhd {border-bottom-left-radius: 15px !important; border-bottom-right-radius: 15px !important; }
.bb-radius-4-fullhd {border-bottom-left-radius: 20px !important; border-bottom-right-radius: 20px !important; }
.bb-radius-5-fullhd {border-bottom-left-radius: 25px !important; border-bottom-right-radius: 25px !important; }
.bb-radius-6-fullhd {border-bottom-left-radius: 30px !important; border-bottom-right-radius: 30px !important; }
.bb-radius-7-fullhd {border-bottom-left-radius: 35px !important; border-bottom-right-radius: 35px !important; }
.bb-radius-8-fullhd {border-bottom-left-radius: 40px !important; border-bottom-right-radius: 40px !important; }
.bb-radius-9-fullhd {border-bottom-left-radius: 45px !important; border-bottom-right-radius: 45px !important; }
.bb-radius-10-fullhd {border-bottom-left-radius: 50px !important; border-bottom-right-radius: 50px !important; }
.bl-radius-0-fullhd {border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important; }
.bl-radius-1-fullhd {border-top-left-radius: 5px !important; border-bottom-left-radius: 5px !important; }
.bl-radius-2-fullhd {border-top-left-radius: 10px !important; border-bottom-left-radius: 10px !important; }
.bl-radius-3-fullhd {border-top-left-radius: 15px !important; border-bottom-left-radius: 15px !important; }
.bl-radius-4-fullhd {border-top-left-radius: 20px !important; border-bottom-left-radius: 20px !important; }
.bl-radius-5-fullhd {border-top-left-radius: 25px !important; border-bottom-left-radius: 25px !important; }
.bl-radius-6-fullhd {border-top-left-radius: 30px !important; border-bottom-left-radius: 30px !important; }
.bl-radius-7-fullhd {border-top-left-radius: 35px !important; border-bottom-left-radius: 35px !important; }
.bl-radius-8-fullhd {border-top-left-radius: 40px !important; border-bottom-left-radius: 40px !important; }
.bl-radius-9-fullhd {border-top-left-radius: 45px !important; border-bottom-left-radius: 45px !important; }
.bl-radius-10-fullhd {border-top-left-radius: 50px !important; border-bottom-left-radius: 50px !important; }
/*Margin*/
.m-0-fullhd {margin: 0px !important; }
.m-1-fullhd {margin: 5px !important; }
.m-2-fullhd {margin: 10px !important; }
.m-3-fullhd {margin: 15px !important; }
.m-4-fullhd {margin: 20px !important; }
.m-5-fullhd {margin: 25px !important; }
.m-6-fullhd {margin: 30px !important; }
.m-7-fullhd {margin: 35px !important; }
.m-8-fullhd {margin: 40px !important; }
.m-9-fullhd {margin: 45px !important; }
.m-10-fullhd {margin: 50px !important; }
.mt-0-fullhd {margin-top: 0px !important; }
.mt-1-fullhd {margin-top: 5px !important; }
.mt-2-fullhd {margin-top: 10px !important; }
.mt-3-fullhd {margin-top: 15px !important; }
.mt-4-fullhd {margin-top: 20px !important; }
.mt-5-fullhd {margin-top: 25px !important; }
.mt-6-fullhd {margin-top: 30px !important; }
.mt-7-fullhd {margin-top: 35px !important; }
.mt-8-fullhd {margin-top: 40px !important; }
.mt-9-fullhd {margin-top: 45px !important; }
.mt-10-fullhd {margin-top: 50px !important; }
.mr-0-fullhd {margin-right: 0px !important; }
.mr-1-fullhd {margin-right: 5px !important; }
.mr-2-fullhd {margin-right: 10px !important; }
.mr-3-fullhd {margin-right: 15px !important; }
.mr-4-fullhd {margin-right: 20px !important; }
.mr-5-fullhd {margin-right: 25px !important; }
.mr-6-fullhd {margin-right: 30px !important; }
.mr-7-fullhd {margin-right: 35px !important; }
.mr-8-fullhd {margin-right: 40px !important; }
.mr-9-fullhd {margin-right: 45px !important; }
.mr-10-fullhd {margin-right: 50px !important; }
.mb-0-fullhd {margin-bottom: 0px !important; }
.mb-1-fullhd {margin-bottom: 5px !important; }
.mb-2-fullhd {margin-bottom: 10px !important; }
.mb-3-fullhd {margin-bottom: 15px !important; }
.mb-4-fullhd {margin-bottom: 20px !important; }
.mb-5-fullhd {margin-bottom: 25px !important; }
.mb-6-fullhd {margin-bottom: 30px !important; }
.mb-7-fullhd {margin-bottom: 35px !important; }
.mb-8-fullhd {margin-bottom: 40px !important; }
.mb-9-fullhd {margin-bottom: 45px !important; }
.mb-10-fullhd {margin-bottom: 50px !important; }
.ml-0-fullhd {margin-left: 0px !important; }
.ml-1-fullhd {margin-left: 5px !important; }
.ml-2-fullhd {margin-left: 10px !important; }
.ml-3-fullhd {margin-left: 15px !important; }
.ml-4-fullhd {margin-left: 20px !important; }
.ml-5-fullhd {margin-left: 25px !important; }
.ml-6-fullhd {margin-left: 30px !important; }
.ml-7-fullhd {margin-left: 35px !important; }
.ml-8-fullhd {margin-left: 40px !important; }
.ml-9-fullhd {margin-left: 45px !important; }
.ml-10-fullhd {margin-left: 50px !important; }
/*Padding*/
.p-0-fullhd {padding: 0px !important; }
.p-1-fullhd {padding: 5px !important; }
.p-2-fullhd {padding: 10px !important; }
.p-3-fullhd {padding: 15px !important; }
.p-4-fullhd {padding: 20px !important; }
.p-5-fullhd {padding: 25px !important; }
.p-6-fullhd {padding: 30px !important; }
.p-7-fullhd {padding: 35px !important; }
.p-8-fullhd {padding: 40px !important; }
.p-9-fullhd {padding: 45px !important; }
.p-10-fullhd {padding: 50px !important; }
.pt-0-fullhd {padding-top: 0px !important; }
.pt-1-fullhd {padding-top: 5px !important; }
.pt-2-fullhd {padding-top: 10px !important; }
.pt-3-fullhd {padding-top: 15px !important; }
.pt-4-fullhd {padding-top: 20px !important; }
.pt-5-fullhd {padding-top: 25px !important; }
.pt-6-fullhd {padding-top: 30px !important; }
.pt-7-fullhd {padding-top: 35px !important; }
.pt-8-fullhd {padding-top: 40px !important; }
.pt-9-fullhd {padding-top: 45px !important; }
.pt-10-fullhd {padding-top: 50px !important; }
.pr-0-fullhd {padding-right: 0px !important; }
.pr-1-fullhd {padding-right: 5px !important; }
.pr-2-fullhd {padding-right: 10px !important; }
.pr-3-fullhd {padding-right: 15px !important; }
.pr-4-fullhd {padding-right: 20px !important; }
.pr-5-fullhd {padding-right: 25px !important; }
.pr-6-fullhd {padding-right: 30px !important; }
.pr-7-fullhd {padding-right: 35px !important; }
.pr-8-fullhd {padding-right: 40px !important; }
.pr-9-fullhd {padding-right: 45px !important; }
.pr-10-fullhd {padding-right: 50px !important; }
.pb-0-fullhd {padding-bottom: 0px !important; }
.pb-1-fullhd {padding-bottom: 5px !important; }
.pb-2-fullhd {padding-bottom: 10px !important; }
.pb-3-fullhd {padding-bottom: 15px !important; }
.pb-4-fullhd {padding-bottom: 20px !important; }
.pb-5-fullhd {padding-bottom: 25px !important; }
.pb-6-fullhd {padding-bottom: 30px !important; }
.pb-7-fullhd {padding-bottom: 35px !important; }
.pb-8-fullhd {padding-bottom: 40px !important; }
.pb-9-fullhd {padding-bottom: 45px !important; }
.pb-10-fullhd {padding-bottom: 50px !important; }
.pl-0-fullhd {padding-left: 0px !important; }
.pl-1-fullhd {padding-left: 5px !important; }
.pl-2-fullhd {padding-left: 10px !important; }
.pl-3-fullhd {padding-left: 15px !important; }
.pl-4-fullhd {padding-left: 20px !important; }
.pl-5-fullhd {padding-left: 25px !important; }
.pl-6-fullhd {padding-left: 30px !important; }
.pl-7-fullhd {padding-left: 35px !important; }
.pl-8-fullhd {padding-left: 40px !important; }
.pl-9-fullhd {padding-left: 45px !important; }
.pl-10-fullhd {padding-left: 50px !important; }